__pycache__/
*.pyc

# 데이터는 앞으로 허깅페이스에 들어갈 것이라 업로드 불필요
# 대신 허깅페이스에 lgb_model.pkl , lstm_model.keras 

# 하지만 예측에 꼭 필요한 모델 파일(lgb_model.pkl, lstm_model.keras, scaler.pkl)과 필요하다면 팀 데이터 json 파일은
# 방금 
# .gitignore로 막아두었기 때문에 깃허브를 거쳐서 가지 않습니다.
# 이 파일들은 허깅페이스 Space 웹페이지의 [Files] 탭에 직접 마우스로 드래그 앤 드롭해서 업로드해 두시면 됩니다. 
# 딱 한 번만 직접 올려두면, 
# 앞으로 깃허브에서 파이썬 코드를 수정하고 Push할 때마다 코드는 자동으로 갱신되고 무거운 모델 파일은 허깅페이스 서버에 
# 그대로 안전하게 유지됩니다.

